 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Spencer (nibalizer) Krum has been sysoping Linux since 2010. He works for IBM contributing upstream to OpenStack and Puppet. Spencer coordinates the local DevOps user group in Portland. Spencer helped found the puppet-community effort, which attempts to bring together a network of developers, modules, and infrastructure.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>In his free time he volunteers for an ops-training program at Portland State University called the Braindump. Spencer is a published author and frequent speaker at technical conferences. Spencer lives and works in Portland, Oregon where he enjoys cheeseburgers and StarCraft II.
                    </p>
                </div>
            </div>
        </div>
    </section>
